{% extends "base.html" %}

{% block content %}
    {% if comment %}
        <p>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }} <a href="{{ post.get_absolute_url }}" class="alert-link">Return to post.</a>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </p>

    {% else %}
        {% include "blog/includes/comment_form.html" %}
    {% endif %}
{% endblock %}