{% extends "base.html" %}

{% block content%}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <p class="text-muted">{{ post.date}}</p>
        <p><b>Author:</b> <a href="{{ author.get_absolute_url }}">{{ post.author }}</a></p>
        <p><b>Description:</b></p>
        <p>{{ post.description }}</p>

        <div class="ms-5">
            <h3>Comments</h3>
            {% for comment in post.comment_set.all %}
                <hr>
                <p><b>{{ comment.author }}</b> <span class="text-muted mt-0">({{ comment.datetime }})</span></p>
                <p ></p>
                <p>{{ comment.description }}</p>
            {% empty %}
                <p>Пока нет комментариев.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}