{% extends "base.html" %}

{% block content%}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-9">
                <h1>{{ post.title|title }}</h1>
                <p class="text-muted">{{ post.date}}</p>
                <p><b>Author:</b> <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
                <p><b>Description:</b></p>
                <p>{{ post.description|linebreaks }}</p>
            </div>
            <div class="col-3">
                {% if perms.blog.add_post and post.author.user == request.user.username %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning">...</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split show" data-bs-toggle="dropdown" aria-expanded="true">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu show" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-12px, 40px);" data-popper-placement="bottom-start">
                            <li><a class="dropdown-item" href="{{ post.get_absolute_url }}/update">Редактировать</a></li>
                            <li><a class="dropdown-item" href="{{ post.get_absolute_url }}/delete">Удалить</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="ms-5">
            <h3>Comments</h3>
            {% for comment in post.comment_set.all %}
                <hr>
                <p><b>{{ comment.user }}</b> <span class="text-muted mt-0">({{ comment.datetime }})</span></p>
                <p ></p>
                <p class="text-break">{{ comment.description }}</p>
            {% empty %}
                <p>Пока нет комментариев.</p>
            {% endfor %}

            <hr>
            <div class="mb-4">
                {% if user.is_authenticated %}
                    <a href="{% url 'comment' post.id %}">Добавить комментарий</a>
                {% else %}
                    <p><a href="{% url 'login' %}">Войдите</a>, чтобы оставить комментарий.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}