{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <p>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </p>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-9">
                <h1>{{ post.title|title }}</h1>
                <p class="text-muted">
                    {{ post.created }}
                    {% if post.created.minute != post.updated.minute %}
                        (updated: {{ post.updated}})
                    {% endif %}
                </p>
                <p><b>Author:</b> <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
                <p><b>Description:</b></p>
                <p>{{ post.description|linebreaks }}</p>
                <p>
                    {% for tag in post.tags.all %}
                        <a href="{% url 'posts-by-tag' tag.slug %}" class="badge rounded-pill bg-warning text-dark link-underline link-underline-opacity-0" style="font-size:1em;">
                            {{ tag }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-3">
                {% if perms.blog.add_post and post.author.user == request.user.username %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning">...</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split show" data-bs-toggle="dropdown" aria-expanded="true">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu show" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-12px, 40px);" data-popper-placement="bottom-start">
                            <li><a class="dropdown-item" href="{{ post.get_absolute_url }}/update">Edit</a></li>
                            <li><a class="dropdown-item" href="{{ post.get_absolute_url }}/delete">Delete</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>
        <h3>Similar posts:</h3>
        <ul class="container">
            {% for post in similar_posts %}
                <li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
            {% endfor %}
        </ul>

        <div class="ms-5">
            {% with comments.count as total_comments %}
                <h3>
                    {{total_comments }} comment{{ total_comments|pluralize}}
                </h3>
            {% endwith %}

            {% for comment in post.comment_set.all %}
                <hr>
                <p><b>{{ comment.user }}</b> <span class="text-muted mt-0">({{ comment.created }})</span></p>
                <p ></p>
                <p class="text-break">{{ comment.description }}</p>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}

            <hr>
            <div class="mb-4">
                {% if user.is_authenticated %}
                    {% include "blog/includes/comment_form.html" %}
                {% else %}
                    <p><a href="{% url 'login' %}">Login</a> to leave a comment.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}